<mat-card>
  <mat-card-content>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center start">
    <button mat-mini-fab (click)="changeThemeClicked('deeppurple-amber')" class="deeppurple-amber"></button>
    <button mat-mini-fab (click)="changeThemeClicked('indigo-pink')" class="indigo-pink"></button>
    <button mat-mini-fab (click)="changeThemeClicked('pink-bluegrey')" class="pink-bluegrey"></button>
    <button mat-mini-fab (click)="changeThemeClicked('purple-green')" class="purple-green"></button>
  </div>
  </mat-card-content>
</mat-card>
