<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit(formGroup.value)">
  <div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
      <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="start center">
        <mat-form-field>
          <label>
            <input type="text" matInput [readonly]="true"
                   [placeholder]="langFa.username" formControlName="username"
                   class="text-eng">
          </label>
          <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>
        <mat-form-field *ngIf="type === 'edit'">
          <label>
            <input type="password" matInput
                   [placeholder]="langFa.oldPassword" formControlName="oldPassword"
                   class="text-eng"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error>
                  <span *ngIf="!formGroup.get('oldPassword').valid && formGroup.get('oldPassword').touched">
                    {{langFa.passwordHint}}
                  </span>
            <span *ngIf="formGroup.hasError('oldPassword')">
                    {{langFa.oldPassword}}
                  </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input type="password" matInput
                   [placeholder]="langFa.newPassword" formControlName="newPassword"
                   class="text-eng"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error>
                  <span *ngIf="!formGroup.get('newPassword').valid && formGroup.get('newPassword').touched">
                    {{langFa.passwordHint}}
                  </span>
                  <span *ngIf="formGroup.hasError('notSame') && formGroup.get('newPassword').dirty">
                    {{langFa.samePasswordHint}}
                  </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input type="password" matInput
                   [placeholder]="langFa.confirmPassword" formControlName="confirmPassword"
                   class="text-eng"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error>
                  <span *ngIf="!formGroup.get('confirmPassword').valid && formGroup.get('confirmPassword').touched">
                    {{langFa.passwordHint}}
                  </span>
            <span *ngIf="formGroup.hasError('notSame') && formGroup.get('confirmPassword').dirty">
                    {{langFa.samePasswordHint}}
                  </span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="center center">
      <button type="submit" mat-flat-button color="primary" [disabled]="!formGroup.valid">{{langFa.ok}}</button>
      <button type="button" mat-flat-button color="accent" (click)="closeForm($event)">{{langFa.cancel}}</button>
    </div>
  </div>
</form>
